
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.signup{
    background-color: black;
    color: aqua
}

.signup:hover{

    color:yellow; 
    background-color: mediumpurple;
}
