
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.signup {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: rosybrown;
    }
    
    h2 {
    color: red;
    font-weight: bolder;
    background-color: black;
    text-align: center;
    padding: 10px;
    }
