
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.signup {
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    background : radial-gradient(red, black); 
   
    }
    
    h2 {
    color: White;
    font-weight: bolder;
    font-size: 34px;
    background-color: black;
    text-align: center;
    
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    text-shadow: 19px 4px 3px; 

    }
    
